:root {
  font-family: "Secular One", sans-serif;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  display: "flex";
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: auto;
  display: flex;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0b0b;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

/* Header */
.logo {
  margin-top: 2rem;
  width: 30%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 2rem;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
  filter: invert(1);
}

.social-icons img {
  width: 2rem;
  margin-right: 1rem;
}

.login {
  margin-left: 54rem;
  margin-top: -3rem;
  flex-direction: row;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-item {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin: 0 1rem;
}

.line {
  margin-top: 3rem;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  border-bottom: 0.25px solid white;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-left: 1rem;
  flex-direction: row;
  align-items: center;
}
p {
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/* Register */
.link {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* ShipList */
.starshipName {
  font-family: "Orbitron", sans-serif;
  height: 10px;
  font-weight: 600;
  text-align: right;
}
.starshipModel {
  font-family: "Orbitron", sans-serif;
  height: 10px;
  font-weight: 600;
  text-align: right;
}

/*ShipCard*/

.p-info {
  margin: 2%;
  color: whitesmoke;
  font-family: "Orbitron", sans-serif;
  font-weight: 300;
  font-size: 10px;
}

.text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Welcome*/
.star-wars-image {
  width: 100%;
  height: auto;
}

.welcome-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  font-family: "Orbitron", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1,5rem;
  color: whitesmoke;
  text-align: center;
}