:root {
  font-family: "Jura", sans-serif;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  display: "flex";
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: auto;
  display: flex;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0b0b;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

/* Header */
.logo {
  margin-left: 42%;
  margin-top: 2rem;
  margin-top: 30px;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.login {
  margin-left: 54rem;
  margin-top: -2rem;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.line {
  display: flex;
  flex-direction: row;
  border-bottom: 0.1px solid rgb(133, 133, 133);
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.nav {
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: rgb(211, 211, 211);
  font-weight: 600;
  padding: 20px;
}

/* Welcome */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-decoration: none;
}
p {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* Register */
.link {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
}
